body,
section,
main,
figure,
article,
nav,
div,
p,
ol,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: unset;
  &:hover {
    color: unset;
  }
}

input,
textarea {
  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}
